/* 
  colors
  fonts

*/

/* color variables */

:root {

--sunyellow: hsl(48,100%,50%);
--black: black;
--olive: darkolivegreen;


}

/* html elements */

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;

}

a {
  /* font-size: larger; */
  text-decoration: none;
  color: var(--black);
  text-align: center;
  font-weight: normal !important;
}

a:hover {
  font-weight: bolder;
}

h1 {
 
  font-size: 5vw;
}

h2 {
  font-size: 4vw;
 
}

h3 {
  font-size: 3vw;
  line-height: 6rem;
     
}

h4 {
  font-size: 2.6vw;
  line-height: 3.5rem;
}

.footer a  {
  color: var(--sunyellow);
}

br.smartphone {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:url("./img/honungskaka.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  color: var(--black);
  min-height: 200px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--sunyellow);
  padding: 50px 0;
  height: auto;
}

.links_section {
  display: flex;
  flex-direction: column;
  background-color: var(--sunyellow);
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--sunyellow);
  padding: 15px 0;
  
}

.link {
  padding: 10px 20px;
  margin: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--sunyellow);
}

a:hover.link {
  padding: 10px 20px;
  background-color: var(--sunyellow);
  border: 6px solid var(--black);
  color: var(--black);

}



.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--sunyellow);
    padding: 20px 8%;
    text-align: center;
    /* height: fit-content; */
    line-height: 2rem;
  }


/* classes */

.pics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--olive);
  padding: 50px;
}

.round-image {
  border-radius: 50%;
  margin: 0 50px;
}



/* ids */

/* MQ Tablet */

@media screen and (max-width: 768px) {

  
    h1 {
      font-size: 7vw;
     
    }
    
    h2 {
      font-size: 5vw;
        
    }
    
    h3 {
      font-size: 4vw;
      line-height: 3rem;
    }
    h4 {
      font-size: 3.5vw;
      line-height: 2.5rem;
    }

    a {
      font-size: 4vw;
      line-height: 3rem;
      
    }

    .footer a {
      font-size: 3vw;
    }
    
    .header {
      min-height: 160px;
    }
    
    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 0;
      
    }
    
    
    .pics {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: var(--olive);
      padding: 20px 0;
    }
    
    .round-image {
      border-radius: 50%;
      margin: 20px 7px;
    }

    
    
    img {
      height: 160px;
    }

    a.link {
      padding: 20px 20px;
      margin: 10px 25px;
      width: 100%;

      
     
    }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }

  .links_section {
    padding-top: 25px;
  }

}



/* MQ smartphone */

@media screen and (max-width: 480px) {

  h1 {
    font-size: 8vw;
    
    
  }

  h2 {
    font-size: 6.5vw;
    
  }

  h3 {
    font-size: 4.8vw;
    line-height: 3rem;
  }
  h4 {
    font-size: 3.5vw;
    line-height: 1.6rem;
  }

  img {
    height: 120px;
  }

  br.smartphone {
    display: inline;
  }

  a {
    line-height: 2rem;
  }

  .header {
    min-height: 125px;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 5%;
    height: auto;
  }
  

  .pics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--olive);
    padding: 20px;
  }

  .round-image {
    border-radius: 50%;
    margin: 20px 7px;
  }


  .links {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--sunyellow);
    
    
  }
  
  a.link {
    padding: 15px 20px;
    margin: 10px 25px;
    width: 100%;
    
    
  }

}
