/* 
  colors
  fonts

*/

/* color variables */

:root {

--sunyellow: hsl(48,100%,50%);
--black: black;
--olive: darkolivegreen;


}

/* html elements */

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  /* font-size: larger; */
  text-decoration: none;
  color: var(--black);
}

a:hover {
  font-weight: bolder;
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  line-height: 4rem;
}
h4 {
  line-height: 3rem;
}

.footer a  {
  color: var(--sunyellow);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image:url("./img/honungskaka.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  color: var(--black);
  min-height: 200px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sunyellow);


  padding: 50px 0;
  height: auto;
}

.links_section {
  background-color: var(--sunyellow);
  text-align: center;
  padding: 25px 0;
}
.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--sunyellow);
  margin: 10px;
  
}

.link {
  padding: 10px 20px;
  margin: 10px 25px;
  min-width: 100px;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--sunyellow);
}

a:hover.link {
  padding: 10px 20px;
  background-color: var(--sunyellow);
  border: 6px solid var(--black);
  color: var(--black);

}



.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: var(--sunyellow);
    padding: 20px 8%;
    text-align: center;
    /* height: fit-content; */
    line-height: 2rem;
  }


/* classes */

.pics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--olive);
  padding: 50px;
}

.round-image {
  border-radius: 50%;
  margin: 0 50px;
}



/* ids */

/* MQ Tablet */

@media screen and (max-width: 768px) {

  
    h1 {
      font-size: 3.25rem;
      font-weight: 600;     
    }
    
    h2 {
      font-size: 2rem;
      font-weight:bold;
    }
    
    h3 {
      line-height: 2rem;
    }
    h4 {
      line-height: 1.5rem;
    }
    
    .header {
      min-height: 160px;
      background-image:url("./img/honungskaka.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px 0;
      height: auto;
    }
    
    
    .pics {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: var(--olive);
      padding: 20px 0;
    }
    
    .round-image {
      border-radius: 50%;
      margin: 20px 7px;
    }

    
    
    img {
      height: 160px;
    }

    .link {
      padding: 10px 20px;
      margin: 10px 25px;
      min-width: 100px;
      
     
    }


}



/* MQ smartphone */

@media screen and (max-width: 480px) {

  h1 {
    font-size: 2.1rem;
    font-weight: 600;
    
  }

  h2 {
    font-size: 1.9rem;
    font-weight:bold;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 3rem;
  }
  h4 {
    font-size: 0.9rem;
    line-height: 2rem;
  }

  img {
    height: 100px;
  }


  .header {
    min-height: 125px;
    background-image:url("../img/honungskaka.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px 5%;
    height: auto;
  }
  

  .pics {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--olive);
    padding: 20px;
  }

  .round-image {
    border-radius: 50%;
    margin: 20px 7px;
  }


  .links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--sunyellow);
    margin: 10px;
    
  }
  
  .link {
    padding: 10px 20px;
    margin: 10px 25px;
    width: 80%;
    
  }

}
